# Dataset - Mengabaikan seluruh folder data beserta isinya
data/

# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# OS Metadata
.DS_Store
Thumbs.db